@()
@* todo:2012-12-27:ambantis:Update header snippet to display either logout or login actions*@
<header class="navbar">
<div class="navbar-inner">
  <a class="brand" href="#">BugTracker</a>
  <ul class="nav">
    <li class="divider-vertical"></li>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><form class="navbar-search pull-left"><input type="text" class="search-query" placeholder="Search"></form></li>
  </ul>
  <ul class="nav pull-right">
    <li><p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">ambantis</a></p></li>
    <li class="divider-vertical"></li>
    <li><form class="navbar-form" action="#" ><button class="btn">Log out</button></form></li>
  </ul>
</div>
</header>