@(form: Form[(String, String)])(implicit flash: Flash)

  <!-- Navigation Bar-->
  <header class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand active" href="#">Bugtracker</a>
        <ul class="nav">
          <li class="active"><a href="#">Getting Started</a></li>
          <li><a href="#">Demo</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>

        <ul class="nav pull-right">
          <li>
            <!-- Button to trigger modal -->
            <a href="#loginModal" data-toggle="modal">Sign In</a>
          </li>
          <li class="divider-vertical"></li>
          <li><a href="#newUserModal" data-toggle="modal">Sign Up</a></li>
        </ul>

        <!-- Login Modal -->
        <div class="modal hide fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="loginModalLabel">Login</h3>
          </div>  
          <div class="modal-body">
            <form class="form-horizontal" action="@routes.Auth.authenticate()" method="post">
              <div class="control-group">
                <label class="control-label" for="currPassword">Username</label>
                <div class="controls">
                  <input type="text" id="currUsername"
			 placeholder="Username" name="username">
                  <!--<input type="text" id="username" placeholder="Username" name="username" value='@form("username").value'>-->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="currPassword">Password</label>
                <div class="controls">
                  <input type="password" id="currPassword"
			 placeholder="Password" name="password">
                </div>
              </div>
              <div class="control-group modal-footer">
                <div class="controls">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- SignUp Modal -->
        <div class="modal hide fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="signUpModalLabel">Sign Up!</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="#" method="post">
              <div class="control-group">
                <label class="control-label" for="newUsername">Username</label>
                <div class="controls">
                  <input type="text" id="newUsername" placeholder="Username">
                  <!--<input type="text" id="username" placeholder="Username" name="username" value='@form("username").value'>-->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="newEmail">Email</label>
                <div class="controls">
                  <input type="email" id="newEmail" placeholder="Username">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="newPassword1">Password</label>
                <div class="controls">
                  <input type="password" id="newPassword1" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="newPassword2">Confirm Password</label>
                <div class="controls">
                  <input type="password" id="newPassword2" placeholder="Password">
                </div>
              </div>
              <div class="control-group modal-footer">
                <div class="controls">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <button type="submit" class="btn btn-primary">Sign Up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>



        <!-- Button to trigger modal -->
        <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </div>

      </div> <!-- /container-fluid -->
    </div> <!-- /navbar-inner -->
  </header>
